body {
  background-color: #579a6e;
}

#container {
  margin: 30px auto;
  overflow: hidden;
}

#container > div {
  float: left;
  background-color: white;
}

button {
  font-family: Arial;
  color: white;
  background-color: #746a77;
  border: 1px solid black;
  width: 100px;
  height: 25px;
  display: block;
  margin: 5px auto;
}
